table{
    font-family: sans-serif;
    border-collapse: collapse;

}
th, td {
    border: 3px solid peachpuff ;
    width: 100px;
    height: 50px;
    text-align: center;
    position: relative;
}
caption {
    color: blue;
    font-size: 32px;
}
.hborder {
    border-top-style: hidden;
    border-left-color: white;
    border-right-color: white;
}
.byellow{
    background-color: yellow;
}
.bred{
    background-color: red;
}
.bblue{
    background-color: blue;
}
table tr:first-child {
    color: white;
}

.cred{
    color: red;
}
.cblue {
    color: blue;
}

